<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="dmtq_faq" id="dmtq_faq">
			<module before="Magento_Backend" name="DMTQ_FAQ"/>
		</route>
	</router>
</config>
